---
layout: empty
title: Scheduler
addedCSS: <link href="resources/css/scheduler.css" rel="stylesheet">

days:
- Monday
- Tuesday
- Wednesday
- Thursday
- Friday
- Saturday
- Sunday
---

<div id="main-container">

	<div id="schedule-container">
		{% include scheduler-time-container.html %}
		{% for day in page.days %}
			{% include scheduler-day-container.html title=day %}
		{% endfor %}
	</div>
	<div id="input-container">
		<span class="syntax-error-display"></span>
		<input type="text" name="dsl-cmd-input" autocomplete="off" autofocus>
	</div>

	<div id="documentation-container">
		
		<h2>Commands</h2>

		<span class="sep-line"></span>
		
		<h3>Select a Day</h3>
		<p>Type <span>Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday</span> or <span>Today</span> to select a day</p>
		<p>The currently selected day is always <span class="red">highlighted</span>.</p>
		<!--<p>Alternatively, type <span>Today</span> to select whatever day it is right now.</p>-->
		<p>You can also abbreviate all day names down to a minimum of 2 characters, so for example
		<span>Mo, Mon, Mond, Monda, Monday</span>
		are all valid ways to reference <span>Monday</span>.</p>

		<span class="sep-line"></span>

		<h3>Add an Event</h3>
		<p>Specify the event in the form</p>
		<p><span>Day startTime - endTime Title</span></p>
		<p>Add <span>!!</span> to the end of the command to indicate an important event. For example</p>
		<p><span>Wed 10:30 - 12 Meeting !!</span></p>
		<p>adds an important event called "Meeting" on Wednesday between 10:30 and 12:00 to your schedule.</p>

		<span class="sep-line"></span>

		<h3>Times</h3>
		<p>There are many different ways to specify a time. You can choose to just write the hours, e.g. <span>8</span> means 8:00 o'clock.</p>
		<p>If you want to also specify minutes you can use a colon, comma or a dot: <span>1:30 1,30 1.30</span> are all the same.</p>
		<p>You can also write <span>2pm</span> instead of <span>14:00</span> if you like.</p>
		<p>Specify a time range by writing the start and end time separated by either <span>-</span> or <span>to</span>. With a time range, you only need to write <span>PM</span> 
			once and it will be interpreted for both the start and end input time if that makes sense. For example, <span>2 to 3pm</span> means 14:00 - 15:00, but 
			<span>10 to 3pm</span> is interpreted as 10:00 - 15:00.</p>

	</div>
	
</div>

<script src="resources/js/peg-0.10.0.min.js"></script>
<script src="resources/js/parser.js"></script>
<script src="resources/js/scheduler.js"></script>