---
layout: evolution-faq
addedCSS: <link href="/resources/css/faq.css" rel="stylesheet">
addedScript: <script src="/resources/js/faq.js"></script>
---

<h2>Frequently Asked Questions</h2>

{% for page in site.pages %}
{% if page.faq == 'evolution' %}

<div>
  <a href={{ page.url }}>
    <h4>
        {{ page.question }}
    </h4>
  </a>
</div>

{% endif %}
{% endfor %}

<!-- {% for qa in site.data.evolution-faq %}
{% include faq_item.html question=qa.question answer=qa.answer %}
{% endfor %} -->