<div id = "theCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#theCarousel" data-slide-to="1" ></li>
    <li data-target="#theCarousel" data-slide-to="2" ></li>
    <li data-target="#theCarousel" data-slide-to="3" ></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active" id="toonsquid-slide">
      <div class="slide1"></div>
      <!--<img src="resources/images/LOB1.jpg">-->
      <div class="carousel-caption">
        <h1>ToonSquid</h1>
        <a class="button-default" href="https://toonsquid.com" target="_blank">Animate</a>
        <!--
        <a class="button-default smaller-button-text" href="https://play.google.com/store/apps/details?id=com.Keiwan.LibraryOfBabel" target="_blank">Donwload on Android</a> -->
      </div>  
    </div>
    <div class="item" id="lob-slide">
      <div class="slide2"></div>
      <!--<img src="resources/images/LOB1.jpg">-->
      <div class="carousel-caption">
        <h1>LIBRARY OF BABEL 3D</h1>
        <a class="button-default" href="https://keiwan.itch.io/library-of-babel-3d" target="_blank">Explore</a>
        <!--
        <a class="button-default smaller-button-text" href="https://play.google.com/store/apps/details?id=com.Keiwan.LibraryOfBabel" target="_blank">Donwload on Android</a> -->
      </div>  
    </div>

    <div class="item" id="evolution-slide">
      <div class="slide3"></div>
      <!--<img src="resources/images/evolution_backdrop3.jpg">-->
      <div class="carousel-caption">
        <h1>Evolution</h1>
        <a class="button-default" href="/evolution">Evolve Creatures</a>
      </div>
    </div>

    <div class="item" id="sheet-slide">
      <div class="slide4"></div>
      <div class="carousel-caption">
        <h1>Sheets</h1>
        <a class="button-default" href="/sheets">Manage Sheet Music</a>
      </div>
    </div>
  </div>

  <!-- Left and right controles -->
  <a class="left carousel-control hide-on-mobile" href="#theCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control hide-on-mobile" href="#theCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>