<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ layout.description | default: page.description }}">
    
    <meta name="author" content="Keiwan Donyagard">
    <link rel="icon" href="/resources/images/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <title>{{ layout.title | default: page.title }}</title>

    <link href="/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="resources/css/main.css" rel="stylesheet">-->
    <link href="/resources/css/default.css" rel="stylesheet">
    {{ layout.addedCSS | default: page.addedCSS }}
    {{ layout.layoutCSS }}
</head>