<div class="masthead">
  <a href="javascript:;" class="menu-button sandwich-button"><span></span></a>

  <div class="logo-container">
    <img id="K" class="logo" src="resources/images/K_white.png">
    <img id="K_blk" class="hidden logo" src="resources/images/K.png">
    <h2 class="masthead-brand"><span style="font-size: 0px">K</span>EIWAN</h2>  
  </div>
  
  <!--<h2 class="masthead-brand">KEIWAN</h2>-->
  <nav>
    <ul class="nav masthead-nav hide-on-mobile">
      <li class="active"><a href="#">HOME</a></li>
      <li><a href="projects.html">PROJECTS</a></li> 
      <li><a href="videos.html">VIDEOS</a></li>
      <li><a href="contact.html">CONTACT</a></li>
    </ul>
  </nav>
</div>