
.policy-container {
	
	width: 100%;
	margin: 6px auto;
	padding-top: 33px;
	padding-bottom: 33px;

	font-family: "OpenSans";
	text-align: left;
	background-color: white;
}

.policy-container .text-container {
	max-width: 900px;
	margin: 0 auto;
}

@media (max-width: 1000px) {
	.policy-container .text-container {
		max-width: 90vw;
	}
}

.policy-container .sep {
	display: block;
	width: 100%;
	height: 1px;
	border: 1px solid rgb(150, 150, 150);
	margin-top: 30px;
}

.policy-container h1 {
	margin: 20px auto;
	margin-bottom: 5px;
	font-family: "OpenSansBold";
	color: black;
}

.policy-container h2, 
.policy-container h3, 
.policy-container h4 {
	margin-top: 40px;
	font-family: "OpenSansBold";
	color: black;
}

.policy-container h5 {
	margin-bottom: 20px;
	margin-left: 2px;
	color: rgb(40, 40, 40);
}

.policy-container p {
	font-size: 17px;
	color: rgb(70, 70, 70);
}

.policy-container a {
	color: black;
	text-decoration: underline;
}