.project-navbar {
	
	width: 90vw;
	max-width: 900px;
	padding-top: 40px;
	margin: 0 auto;
	margin-bottom: 20px;

	font-size: 30px;

	border-bottom: 2px solid white;
}

@media (max-width: 640px) {
	.project-navbar {
		width: 90%;
		font-size: 15px;
	}
}

.project-navbar > ul {
	display: inline-block;
	float: right;
	margin-right: 15px;
	-webkit-padding-start: 0;
}

.project-navbar > ul > li {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 640px) {
	.project-navbar > ul > li {
		font-size: 14px;
	}
}

.project-navbar > ul > li > a {
	transition: 0.15s;
}

.project-navbar > ul > li > a:hover {
	color: rgb(252, 75, 75);
	transition: 0.15s;
}

.project-navbar > ul > li + li {
	padding-left: 10px;
}

.project-title {
	position: relative;
	float: left;
	left: 15px;
	display: inline-block;
	font-size: 40px;
}

@media (max-width: 640px) {
	.project-title {
		display: block;
	}
}

.project-page-main-content {

	width: 90vw;
	max-width: 900px;

	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

	color: $dark_grey;
	text-align: left;
	font-family: "OpenSans";
	font-size: 16px;

	h1, h2, h3, h4, h5, h6 {
		font-family: "OpenSansBold";
		margin-top: 20px;
		margin-bottom: 20px;
	}

	h3 {
		margin-top: 50px;
	}

	ul {
		padding-left: 5px;
		margin-bottom: 2em;

		li {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
	}

	a {
		color: $darkBlueDesat;
		font-size: 1.05em;
	}

	ul.bulleted-list {
		list-style: disc inside;
	}

	img.wide-banner {
		width: 100%;
		height: auto;
		margin: 20px auto;
	}

	img.screenshot {
		margin-top: 0px;
	}

	pre {
		padding: 12px;
		padding-left: 16px;
		border: none;

		background-color: #2b2e33;
		color: white;
	}

	.faq-item-container {

		width: 100%;
		//border: 1.5px solid rgba(0, 0, 0, 0.2);
	}

	.faq-item-question {
		background-color: rgba(0, 0, 0, 0.05);
	}

	.faq-item-answer {
		background-color: rgba(0, 0, 0, 0.1);
		color: rgba(25, 25, 25, 0.8);
	}
}


















