---
layout: empty
title: Scheduler
addedCSS: <link href="/resources/css/scheduler.css" rel="stylesheet">

days:
- Monday
- Tuesday
- Wednesday
- Thursday
- Friday
- Saturday
- Sunday

cookieConsent: |
 <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
 <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
 <script>
 window.addEventListener("load", function(){
 window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#404040"
    },
    "button": {
      "background": "#facf61"
    }
  },
  "theme": "classic",
  "content": {
    "message": "This page uses HTML local storage in order to remember your schedule. Please note that everything is stored on your device and not sent to any external servers. By continuing to use this page and by creating your own schedule, you consent to the usage of this storage functionality and cookies.",
    "allow": "Got it!",
    "href": "/policies/cookie-policy"
  }
 })});
 </script>
---

<div id="editor">
	<textarea name="editor-input" autocomplete="off"></textarea>
	<div id="error-indicator"></div>
</div>
<div id="main-container">
	
	<div id="schedule-container">
		{% include scheduler-time-container.html %}
		{% for day in page.days %}
			{% include scheduler-day-container.html title=day %}
		{% endfor %}
	</div>
	<div id="input-container">
		<span class="syntax-error-display"></span>
		<input type="text" name="dsl-cmd-input" autocomplete="off" autofocus>
	</div>

	<div id="documentation-container">
		
		<h2>Commands</h2>

		<span class="sep-line"></span>
		
		<h3>Select a Day</h3>
		<p>Type <span>Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday</span> or <span>Today</span> to select a day</p>
		<p>The currently selected day is always <span class="red">highlighted</span>.</p>
		<!--<p>Alternatively, type <span>Today</span> to select whatever day it is right now.</p>-->
		<p>You can also abbreviate all day names down to a minimum of 2 characters, so for example
		<span>Mo, Mon, Mond, Monda, Monday</span>
		are all valid ways to reference <span>Monday</span>.</p>

		<span class="sep-line"></span>

		<h3>Add an Event</h3>
		<p>Specify the event in the form</p>
		<p><span>Day startTime - endTime Title</span></p>
		<p>Add <span>!!</span> to the end of the command to indicate an important event. For example</p>
		<p><span>Wed 10:30 - 12 Meeting !!</span></p>
		<p>adds an important event called "Meeting" on Wednesday between 10:30 and 12:00 to your schedule.</p>

		<span class="sep-line"></span>

		<h3>Times</h3>
		<p>There are many different ways to specify a time. You can choose to just type the hours, e.g. <span>8</span> means 8:00 o'clock.</p>
		<p>If you also want to specify minutes you can use a colon, comma or a dot: <span>1:30 1,30 1.30</span> are all the same.</p>
		<p>You can also type <span>2pm</span> instead of <span>14:00</span> if you like.</p>
		<p>Specify a time range by writing the start and end times separated by either <span>-</span> or <span>to</span>. With a time range, you only need to type <span>PM</span> 
			once and it will be interpreted for both the start and end input time - but only if that makes sense. For example, <span>2 to 3pm</span> means 14:00 - 15:00, but 
			<span>10 to 3pm</span> is interpreted as 10:00 - 15:00.</p>

		<span class="sep-line"></span>

		<h3>Delete Events</h3>
		<p>Type <span>Clear</span> or <span>Delete</span> followed by the day, an optional <span>event at</span> and the starting time of the event to delete a single event, e.g. <span>Delete Monday event at 10AM</span></p>
		<p>Leaving out the name of the day will make the scheduler look for the event on the currently selected day.</p>
		<p>You can also delete all events of one day by typing <span>Clear</span> or <span>Delete</span> followed by the name of the day.</p>
		<p><span>Clear all</span> or <span>Delete all</span> delete all of the events of the whole week.</p>

		<span class="sep-line"></span>

		<h3>Edit Events</h3>
		<p><span>Rename:</span>Type <span>Rename</span> followed by the day and starting time of the event and the new name to change the name of an existing event, e.g. <span>Rename Mon 10AM Meeting</span> 
		renames an existing event on Monday at 10AM to "Meeting"</p>
		<p><span>Reschedule:</span>Type the day and starting time of the event followed by <span>new time</span> and the new start and end times of the event, e.g. 
			<span>Mon event at 10 new time 11-12</span> will reschedule the event from Monday 10:00 to Monday 11:00-12:00.</p>
		<p>As always, leaving out the day will use the currently selected day to look for the events.</p>

		<span class="sep-line"></span>

		<h3>Reset</h3>		
		<p>Type <span>Reset</span> in order to reset the entire schedule, deleting all events and clearing all of the previous commands from your browser's local storage.</p>

		<span class="sep-line"></span>

		<h3>General Syntax</h3>		
		<p>All of the commands are case-insensitive, so it doesn't matter if you use uppercase or lowercase letters (or a mix of both).</p>
		<p>Whitespace is generally handled quite liberally, meaning that you can use as many spaces in your commands as you want, as long as you use at least one to separate 
		the different parts of the command.</p>
		<p>You can always write an optional <span>event at</span> when specifying an existing event with its start time to improve readability.</p>

		<span class="empty-sep"></span>

		<h2>Editor</h2>

		<span class="sep-line"></span>

		<h3>Open</h3>
		<p>Type either <span>Editor</span>, <span>Show Editor</span> or <span>Open Editor</span> to open a multiline editor which shows and lets you edit all of the previous commands.</p>

		<span class="sep-line"></span>

		<h3>Close</h3>
		<p>Type any of the following to close the multiline editor: <span>Close Editor</span>, <span>Hide Editor</span>, <span>Exit Editor</span>, <span>:q</span> or <span>:wq</span></p>

		<span class="empty-sep"></span>

		<h2>Example</h2>
		
		<span class="sep-line"></span>
		<p>The following is a set of commands that define a simple university schedule. You can copy and paste them into the editor to get a better idea of what the schedule visually looks like.</p>

		<p><span>
			Mo<br>
			8-10 Economics Lecture<br>
			10-12 Analysis Lecture<br>
			12-13:30 Lunch !!<br>
			14-15 OS Exercises<br>
			<br>
			Tue<br>
			10-12 Math Exercises<br>
			12-13:30 Lunch !!<br>
			14-16 Material Sciences Lecture<br>
			<br>
			Wed<br>
			8:30-10 Breakfast !!<br>
			12-14 Linear Algebra Lecture<br>
			<br>
			Thursday<br>
			8-10 Statistics Lecture<br>
			18-20 Statistics Exercises<br>
			<br>
			Fri<br>
			12-14 Operating Systems Lecture<br>
		</span></p>

	</div>
	
</div>

<script src="/resources/js/peg-0.10.0.min.js"></script>
<script src="/resources/js/parser.js"></script>
<script src="/resources/js/scheduler.js"></script>