---
---

$thumb-border-color: rgb(80, 80, 80);
$angle-input-width: 14vh;
$angle-input-thumb-width: 0.27 * $angle-input-width;
$angle-input-font-size: 4vh;

body {
	min-height: 100vh;
}

div {
	transition: 0;
}

canvas {
	
	width: 65%;
	height: 100%;
	float: right;
}

h4 {
	margin: 0px;
	font-size: 1.3vw;
}

*, h1, h2, h3, h4, h5, h6, p {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

           	transform: translateZ(0);
	-webkit-transform: translateZ(0);

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden; 
}

h2, h4 {
	margin: 0px;
}

input[type=range] {

    -webkit-appearance: none;
  	margin: 9.1px 0;
  	margin-bottom: 20px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.8px;
  cursor: pointer;
  box-shadow: none;
  background: #4e6b6b;
  background: rgb(50, 50, 50);
  border-radius: 10.9px;
  border: 0px solid rgba(1, 1, 1, 0.92);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 2px solid $thumb-border-color;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.1px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #597a7a;
}

#distortion-container {
	width: 70vw;
	height: 80vh;
	max-width: 1280;
	max-height: 768;
	margin: 40px auto;
}

#distortion-control-container {

	background-color: rgba(255, 255, 255, 0.9);
	height: 100%;
	width: 35%;
	float: left;

	padding: 30px;
	padding-top: 10px;
	padding-bottom: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#distortion-control-container .control-item > h2 {

	font-size: 1.5vw;
	color: rgb(50, 50, 50);
}

#distortion-control-container .control-item > h4 {

	color: rgb(50, 50, 50);
	position: relative;
	top: 0.2vw;
}

.angle-input {
	width: $angle-input-width;
	height: $angle-input-width;
	margin: 20px auto;
	position: relative;

	border: 0.8vw solid rgb(50, 50, 50);
	border-radius: 50%;
	box-sizing: border-box;

	transform: translateZ(0);
	-webkit-transform: translateZ(0);

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden; 
}

.thumb:hover {
	cursor: pointer;
}

.angle-input .thumb {

	width: $angle-input-thumb-width;
	height: $angle-input-thumb-width;

	border: 3px solid $thumb-border-color;
	border-radius: 50%;
	background-color: white;

	position: absolute;
}

.angle-input > h2 {

	font-size: $angle-input-font-size;
	position: relative;
	color: rgb(50, 50, 50);
	top: 0.5 * ($angle-input-width) - $angle-input-font-size * 0.8;
	left: 0.7vh;

	transform: translateZ(0);
	-webkit-transform: translateZ(0);

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden; 
}

.angle-input > h4 {
	position: absolute;

	top: -5vh;
	width: 100%;
	text-align: center;
	overflow: none;
	margin-left: 0;
	margin-right: 0;
	color: rgb(50, 50, 50);
}

.angle-input.angle-90 {

	width: $angle-input-width;
	height: $angle-input-width;
	border-radius: 0 100% 0 0;
	border-left: 0px;
	border-bottom: 0px;
}

.angle-input.angle-90 .thumb {

	//left: -1.4vw;
	position: absolute;
}

.angle-input.angle-90 > h2 {

	font-size: 2.3vw;
	top: 50%;
	left: -0.5vw;
}

#display-mode-container {

	position: fixed;
	top: 93vh;
	left: 20vw;

	width: 60vw;
	height: 7vh;

	padding-top: 2vh;

	display: flex;

	border-radius: 10px 10px 0 0;

	background-color: rgba(255, 255, 255, 0.9);

	label {

		font-size: 3vh;
		color: rgba(50, 50, 50, 0.3);

		flex: 1;
	}

	label:hover {
		cursor: pointer;
	}

	input[type='radio']:checked + span {
		color: rgb(50, 50, 50);
	}

	input {
		visibility: hidden;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.horiz-flex {
	display: flex;
	flex-direction: row;
	position: relative;
}

.shift-down {
	position: relative;
	top: 2vh;
}

.shift-left-text {
	position: relative;
	left: -0.3vw;
}





