@font-face {
  font-family: "Lovelo";
  src: url("fonts/Lovelo_Black.otf") format("opentype"),
       url("fonts/Lovelo_Black.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Regular.ttf") format("truetype")
}

html,
body {
  /*height: 100%;*/
  background-color: #222;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: "Lovelo";
  color: #fff;
  text-align: center;
}

a,
a:focus,
a:hover {
  color: #fff;
}

ul {

  list-style-type: none;
}

/* Custom default button */
.button-default {
  font-size: 25px;
  text-align: center;
  color: rgba(256,256,256,1);
  border: 4px solid;  
  border-color: rgba(256,256,256,.5);
  border-radius: 4px;
  border-spacing: 5px;
  padding: 25px;
  margin: 10px;
  text-decoration: none;
  transition: .3s ease-out;
}

.button-default:hover,
.button-default:focus {
  border-color: rgba(256,256,256,1);
  text-decoration: none;
}

.smaller-button-text {
  font-size: 18px;
}


/*
 * Header
 */

 .logo {
  display: inline;
  width: 35px;
  height: 35px;
  color: rgba(255,255,255,1);
  padding: 0px;
  margin: 0px;

  float: left;
  margin-left: 8vw;
  margin-top: 15px;
 }

.masthead,
.mastfoot,
.cover-container {
  width: 100%; /* Must be percentage or pixels for horizontal alignment */
}

.masthead {
    position: fixed;
    z-index: 100;
    top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(256,256,256,0.3); 
    transition: 0.3s ease-out;
}

.masthead-brand {
  float: left;
  margin-left: 2px;
  padding: 0px;
  font-size: 35px;
  /*color: rgba(140, 218, 235,1);*/
  color: rgba(256,256,256,1);
  transition: 0.3s ease-out;
}

.masthead-nav {
    float: right;
    margin-right: 7vw;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 2vw;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  padding-top: 22.5px;
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  transition: .3s ease-out;
  /*border-bottom: 2px solid transparent;*/
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: rgba(255,255,255,1);
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;

  border-bottom-color: #fff;
}

/* SCROLL MASTHEAD */

.scroll-masthead {
  background-color: rgba(256,256,256,1);
  /*border-bottom-color: rgba(0,0,0,0.2);*/
  transition: 0.3s ease-out;
  padding-top: 3px;
  padding-bottom: 3px;

  -webkit-box-shadow: 0px -1px 12px -6px rgba(61,61,61,1);
  -moz-box-shadow: 0px -1px 12px -6px rgba(61,61,61,1);
  box-shadow: 0px -1px 12px -6px rgba(61,61,61,1);
}

.scroll-masthead  .masthead-brand {
  transition: 0.3s ease-out;
  color: rgba(0,0,0,1);
  font-size: 30px;
}

.scroll-masthead .logo {
  transition: 0.3s ease-out;
  width: 30px;
  height: 30px;
  margin-top: 16px;
}

.scroll-masthead .masthead-nav > li > a {
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(0,0,0,.6);
  transition: .3s ease-out;
  /*border-bottom: 2px solid transparent;*/
}

.scroll-masthead .masthead-nav > li > a:hover,
.scroll-masthead .masthead-nav > li > a:focus {
  color: rgba(167, 225, 255, 0.9);
  color: rgba(243,156,18,1);
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.scroll-masthead .masthead-nav > .active > a,
.scroll-masthead .masthead-nav > .active > a:hover,
.scroll-masthead .masthead-nav > .active > a:focus {
  color: rgba(243,156,18,1);
}

.masthead-default-size {
  padding-top: 15px;
  padding-bottom: 15px;
}


/*
 * Footer
 */

.mastfoot {
	position: relative;
  bottom: 0;
  padding: 60px;
	color: #999; /* IE8 proofing */
	color: rgba(255,255,255,.5);
  background-color: #222;
}

.social-media-list {
  margin-left: -40px;
}

/*
*	CAROUSEL
*/

.carousel {
	/*margin-top: 0px;*/
  height: 100%;
  width: 100%;
  z-index: 0;
  position: fixed;
}

.carousel.noparallax {
  position: relative;
}

.carousel,
.item, 
.active{
  height:100%;
}
.carousel-inner{
  height:100%;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item {
  height: 100%;
}

.carousel-caption {
  position: fixed;
  width: 100%;
  left: 0;
  top: 40%;
}

.carousel-caption > h1 {
  font-size: 100px;
  margin-bottom: 50px;
}

.carousel-control {
  margin-right: -50px;
  margin-left: -50px;
}


/*
*  plain divs  
*/

.standard-text {
  background-color: rgba(255,255,255,1);
  font-family: "OpenSans", Georgia;
  font-style: 800px;
  position: relative;
  color: rgba(0,0,0,.75);
  padding: 30px;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 10;
  margin-top: 100vh;
}

.standard-text a {
  color: black;
}

.standard-text a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.standard-text h2 {
  font-family: "Lovelo";
}

.standard-text ul {

  text-align: center;
  margin: auto;
  max-width: 500px;
}

.standard-text ul li {
  display: inline-block;
}

.highlightable-text {
  transition: 0.3s;
}

.highlightable-text:hover {
  color: rgb(243, 156, 18);
  transition: 0.3s;
}

.image-container-block {

  width: 100vw;
  height: auto;

  background-color: #1f1f1f;

  overflow: hidden;
  border-radius: 0px;
}

.image-container-block img {

  width: auto;
  height: auto;
  max-width: 35%;
  max-height: 90%;
  
  margin: 20px auto;

  transition: 0.3s;
  padding-left: 20px;
  padding-right: 20px;
}

.image-container-block img:hover {

  -webkit-transform: scale(0.95); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.95); /* FF3.5+ */
      -ms-transform: scale(0.95); /* IE9 */
       -o-transform: scale(0.95); /* Opera 10.5+ */
          transform: scale(0.95);

  margin: 20px auto;
  transition: 0.3s;
}

.image-container-block .evolution-preview-gif {
  height: auto;
  width: auto;
  max-width: 25%;
  max-height: 10vw;

  display: inline-block;

  margin: 20px auto;
}

.fill {
  width: 100%;
  height: 100%;
  /*position: relative;*/
}

.below-masthead {
  padding-top: 100px;
}

.fixed {
  position: absolute;
  top: 0;
}

.scrollable-size {
  /*height: 100vh;*/
}

.window {
  background-color: rgba(0,0,0,0);
  height: 100vh;
  pointer-events: visible;
}

#test {
  height: 300px;
  background-color: red;
  position: relative;
  display: block;
}

.show-on-mobile {
  display: none;
}

/*
  Responsive CSS
*/
@media (max-width: 1200px) {
 	.masthead {
		/*border: 2px solid red;*/
	}

  .carousel-caption > h1 {
    font-size: 8.3vw;
    margin-bottom: 50px;
  }

  .button-default {
    font-size: 2.1vw;
    padding: 2vw;
  }
}

@media (max-width: 768px) {
  
  .hide-on-mobile {
    visibility: hidden;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
  }

  .show-on-mobile {
    display: block;
  }

  /* MENU */

  #menu {
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #1f1f1f;/*rgba(50,50,50,1);*/
    transform: translateY(-100vh);
    z-index: 50;
    transition: 0.2s ease-out;
  }

  #menu.activated {
    transform: translateY(0vh);
    transition: 0.2s ease-out;
  }

  .menu-list ul {
    width: 100vw;
    padding: 0;
    margin: 0 auto;
    margin-top: 30vw; 
    vertical-align: middle;
  }

  .menu-list li {
    list-style-type: none;
    display: block;
    float: center;
  }

  .menu-list a {
    display: block;
    font-size: 10vw;
    width: 100vw;
    /*
    margin-top: 4vw;
    margin-bottom: 4vw;*/
    padding-top: 4vw;
    padding-bottom: 4vw;

    /*border-top: 7px dotted;
    border-color: rgba(40,40,40,0.8);*/

    color: white;
  }

  .menu-list a:hover {
    text-decoration: none;
  }

  /* btn */
  .menu-button {
    float: left;
    position: relative;
    display:  inline-block;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 22px;
  }

  .menu-button span {
    margin: 0 auto;
    position: relative;
    top: 12px;
  }

  .menu-button span:before, 
  .menu-button span:after {
    position: absolute;
    content: '';
  }

  .menu-button span, 
  .menu-button span:before, 
  .menu-button span:after {
    width: 30px;
    height: 6px;
    background-color: white;
    display: block;
  }

  .menu-button.scrolling span, 
  .menu-button.scrolling span:before, 
  .menu-button.scrolling span:after {
    background-color: black;
  }

  .menu-button span:before {
    margin-top: -12px;
  }

  .menu-button span:after {
    margin-top: 12px;
  }


  .logo-container {
    position: relative;
    display: inline-block;
    float: center;
    margin-left: -50px;
  }

  #K,
  #K_blk {
    width: 35px;
    height: 35px;
    color: rgba(255,255,255,1);
    padding: 0px;
    margin: 0 auto;
    margin-top: 5px;
   }

  .masthead {
    position: relative;
    padding-top: 16px;
    padding-bottom: 10px;
  }

  .masthead-brand {
    margin: 0px;
    margin-top: 10px;
    display: inline-block;
  }

  .scroll-masthead {
    padding-top: 12px;
    padding-bottom: 4px;
  }

  .scroll-masthead .masthead-brand {
    font-size: 35px;
  }


  /*
    CAROUSEL
  */

  .carousel {
    position: relative;
    margin-top: -61px;
  }

  .carousel-caption > h1 {
    font-size: 60px;
    margin-bottom: 50px;
  }


  .standard-text {
    margin-top: 0px;
  }

  .image-container-block { 

    height: auto;
    max-height: none;

  }

  .image-container-block img {
  
    width: auto;
    height: auto;
    max-width: 90%;
    display: block;
  }

  .image-container-block .evolution-preview-gif {
    height: auto;
    width: 90%;
    max-width: 90%;
    max-height: 50vh;
  }

  /*
    ANIMATIONS
  */


  .sandwich-button span {
    -webkit-transition-duration: 0s; transition-duration: 0s;
    -webkit-transition-delay: 0s; transition-delay: 0s;
  }

  .sandwich-button.selected span {
    background-color: rgba(0,0,0,0.0);
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
  }
  .sandwich-button span:before {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
  }
  .sandwich-button.selected span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg); transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
  }
  .sandwich-button span:after {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
  }
  .sandwich-button.selected span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
  }

}

@media (max-width: 500px){
  .carousel-caption {
    top: 30%;
  }

  .carousel-caption > h1 {
    font-size: 10vw;
    margin-bottom: 30px;
    padding: 3vw;
  }

  .button-default {
    border-color: rgba(256,256,256,0.8);
    font-size: 5vw;
    padding: 5vw;
  }


}


/* GITHUB PAGES BUG */
/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle; 
  max-width: 20px;
  max-height: 20px;
}
  .icon > svg path {
    fill: #828282; 
    max-width: 20px;
    max-height: 20px;
  }

.social-media-list .icon {
  padding-right: 5px; 
  max-width: 20px;
  max-height: 20px;
}
.social-media-list li + li {
  padding-top: 5px;
  max-width: 20px;
  max-height: 20px; 
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }






