---
---

$dsl-input-height: 50px;
$syntax-error-display-height: 30px;
$timeUnitHeight: 40px;
$titleHeight: 20px;
$border-alpha: 0.5;

$mainWidth: 70vw;
$mainHeight: 50vw;


// Colors
$inputColor: rgba(50, 50, 50, 1);
$backgroundColor: #222;
$dayBackgroundColor: rgba(255, 255, 255, 0.9);
$blueDesat: #7dcbdb;
$redDesat: #B94E4F;

* {
	box-sizing: border-box;
}

html, body {
	//background-color: #CDF0F9;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
}

#main-container {
	width: $mainWidth;
	height: $mainHeight;
	max-height: 90vh;
	margin: 20px auto;

	background-color: rgba(0, 0, 0, 0.2);
	//border: 3px solid rgba(255, 255, 255, $border-alpha);
	border-radius: 3px;
}

#schedule-container {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: unquote("calc(100% - #{$dsl-input-height})");

	background-color: $backgroundColor;

	display: flex;
	overflow-y: scroll;
}

.day-container {

	//height: 34 * $timeUnitHeight + $titleHeight;

	position: relative;
	flex: 1;

	background-color: $dayBackgroundColor;
	margin-left: 2px;
	margin-right: 2px;

	h3 {
		width: 100%;
		color: $backgroundColor;
		border-bottom: 4px solid $backgroundColor;
		margin-bottom: -2px;

		font-size: 140%;
		font-size: 1.2vw;
	}

	.event {

		position: absolute;

		width: 100%;
		height: 16 * $timeUnitHeight + 2;
		background-color: $blueDesat;

		border-top: 2px solid $backgroundColor;
		border-bottom: 2px solid $backgroundColor;

		h5 {
			//font-size: 18px;
			font-size: 1.2vw;
		}
	}

	.event.important {

		background-color: $redDesat;
	}
}

.day-container.current {

	h3 {
		color: $redDesat;
	}
}

.time-container {

	h5 {
		flex: 1;

		height: $timeUnitHeight;
		border-top: 2px solid $backgroundColor;
		//border-bottom: 2px solid $backgroundColor;
		color: $backgroundColor; 
		
		margin: 0px;
		padding: 0px;
		padding-top: $timeUnitHeight / 3;
		
		font-size: 110%;
	}
}

#input-container {

	font-family: Monospace;

	position: relative;

	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: $dsl-input-height;

	background-color: $inputColor;
	//border-top: 2px solid rgba(255, 255, 255, $border-alpha);

	input[name=dsl-cmd-input] {

		position: relative;

		width: 100%;
		height: $dsl-input-height;
		background-color: rgba(0,0,0,0);

		border-style: none;
		font-size: $dsl-input-height * 0.5;
		text-indent: 20px;
		padding-top: $dsl-input-height / 8;

		z-index: 10;
	}

	input:focus {
		outline: none;
	}
}

.syntax-error-display {

	display: block;
	position: absolute;	

	width: 100%;
	height: $syntax-error-display-height;

	background-color: $inputColor;;
	color: #ff7c7c;

	text-align: left;
	margin: 0 auto;

	font-size: $syntax-error-display-height * 0.5;	
	text-indent: 20px;
	padding-top: $syntax-error-display-height / 5;

	transition: 0.2s;
}

.syntax-error-display.active {

	background-color: $inputColor;
	color: #ff7c7c;
	
	transform: translate(0, -$syntax-error-display-height);

	height: $syntax-error-display-height;
	transition: 0.2s;
}

#documentation-container {

	//font-family: OpenSans;

	margin-top: 100px;
	padding-bottom: 200px;
	width: $mainWidth;

	font-family: OpenSans;
	text-align: left;

	color: rgb(225, 225, 225);

	h2 {
		font-family: Lovelo;
		text-align: center;
	}

	h3 {
		//font-size: 1.9em;
		font-family: Lovelo;
	}

	p {
		font-size: 1.3em;
		padding-left: 40px;
		padding-right: 40px;
	}

	span {
		font-family: Monospace;
		font-size: 1.0em;
		padding-left: 5px;
		padding-right: 5px;
		color: $blueDesat;
	}

	span.red {
		color: $redDesat;
		font-family: OpenSans;
		font-size: 1em;
		padding: 0;
	}

	.sep-line {

		margin: 0 auto;
		margin-top: 35px;
		margin-bottom: 35px;
		display: block;
		height: 2px;
		width: 80%;
		background-color: rgba(100, 100, 100, 0.8);
	}
}








