---
---

@font-face {
    font-family: 'PoetsenOne-Regular';
    src: url('fonts/poetsenone-regular-webfont.woff2') format('woff2'),
         url('fonts/poetsenone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#webgl-container {

	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;

	border: 4px solid white;
	border-radius: 4px;
}

#game-description {

	width: 80vw;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;

	font-family: "PoetsenOne-Regular";
	text-align: left;

	p {
		font-size: 20px;
		color: rgb(210, 210, 210);	
	}	
}

#app-store-links-container {

	margin: 40px auto;

	img {
		height: 70px;
		width: auto;
		padding: 0;
	}
}

iframe {
	margin-top: 40px;
	margin-bottom: 40px;
}