---
---

iframe {
	margin: 20px auto;
}

@media (max-width: 640px) {
	iframe {
		width: 90%;
		height: auto;
	}
}

#evolution-navbar {
	
	width: 600px;
	padding-top: 40px;
	margin: 0 auto;
	margin-bottom: 30px;

	font-size: 30px;

	border-bottom: 2px solid white;
}

@media (max-width: 640px) {
	#evolution-navbar {
		width: 90%;
		font-size: 15px;
	}
}

#evolution-navbar > ul {
	display: inline-block;
}

@media (max-width: 640px) {
	#evolution-navbar > ul {
		-webkit-padding-start: 0;
	}
}

#evolution-navbar > ul > li {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 640px) {
	#evolution-navbar > ul > li {
		font-size: 14px;
	}
}

#evolution-navbar > ul > li > a {
	transition: 0.15s;
}

#evolution-navbar > ul > li > a:hover {
	color: rgb(252, 75, 75);
	transition: 0.15s;
}

#evolution-navbar > ul > li + li {
	padding-left: 10px;
}

#evolution-title {
	position: relative;
	left: 0px;
	display: inline-block;
	font-family: "BebasNeue";
	font-size: 40px;
}

@media (max-width: 640px) {
	#evolution-title {
		display: block;
	}
}